<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpyxPVdSZiiOu6X7feyKJCabrPdVAZqVg</string>
	<key>GCM_SENDER_ID</key>
	<string>76617996146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soylephoneUser</string>
	<key>PROJECT_ID</key>
	<string>soilephone-296d2</string>
	<key>STORAGE_BUCKET</key>
	<string>soilephone-296d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76617996146:ios:2dbc56463add6470f06feb</string>
</dict>
</plist>